@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  /* Default speed for larger screens */
  .animate-scroll {
    animation: scroll 15s linear infinite;
    display: flex;
    min-width: 200%;
  }
  
  /* Faster speed on smaller screens */
  @media (max-width: 768px) {
    @keyframes scroll {
        from { transform: translateX(0); }
        to { transform: translateX(-100%); }
      }
    .animate-scroll {
      animation-duration: 8s; /* Adjust this for faster scrolling on mobile */
    }
  }
  